root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[**.js]
indent_size = 2
indent_style = space
preserve_newlines = true
space_in_paren = true
keep_array_indentation = true
brace_style = collapse-preserve-inline

[**.json]
indent_style = space
indent_size = 2

[**.jsx]
e4x = true
indent_style = space
indent_size = 2
preserve_newlines = true
space_in_paren = true
keep_array_indentation = true
brace_style = collapse-preserve-inline

[**.css]
indent_style = space
indent_size = 2

[**.html]
indent_style = space
indent_size = 4
max_char = 78
